body{
  padding: 0;
  margin: 0;background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
}
h1{
  color: skyblue;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}
h2{
  color: darkred;
  padding-top: 50px;
}